version: '3'

services:
  influxdb:
    image: influxdb:2.7
    restart: unless-stopped   # <-- αυτό προστίθεται
    ports:
      - "8086:8086"
    volumes:
      - influxdb-data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME={{ influxdb_username }}
      - DOCKER_INFLUXDB_INIT_PASSWORD={{ influxdb_password }}
      - DOCKER_INFLUXDB_INIT_ORG={{ influxdb_org }}
      - DOCKER_INFLUXDB_INIT_BUCKET={{ influxdb_bucket }}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN={{ influxdb_token }}

volumes:
  influxdb-data:
